<div class="section" id="header" class="z-depth-7">

<!-- <div id="picture-name" class="center-block"> -->
  <div class="row">
    <a name="me">
  </div>

  <div class="row" id="pic-row">
    <img src="/images/gaPiccrop.png" class="z-depth-1" id="profile-pic" alt="" />
  </div>

  <div class="row">
    <h2 id="name">Roger Panella</h2>
  </div>

  <!-- <div class="fixed-action-btn vertical" style="bottom: 100px; right: 24px;">
     <a class="btn-floating btn-small light-blue">
       <i class="material-icons">list</i>
     </a>
     <ul>
       <li><a class="btn-floating yellow darken-1" href="#me"><i class="material-icons">perm_identity</i></a></li>
       <li><a class="btn-floating green" href="#work"><i class="material-icons">work</i></a></li>
       <li><a class="btn-floating blue" href="#contact"><i class="material-icons">phone</i></a></li>
     </ul>
   </div> -->

  <div class="row">
    <div class="nav-container">
      <p class="basic-nav"><a class="nav-link" href="#about">About Me</a></p>
      <p class="basic-nav"><a class="nav-link" href="#work">Work</a></p>
      <p class="basic-nav"><a class="nav-link" href="#contact">Contact</a></p>
      <p class="basic-nav"><a class="nav-link" target="_blank" href="https://www.visualcv.com/roger-panella">Resume</a></p>
    </div>
  </div>
<a name="about"></a>

</div>


<div id="about-div" class="row">
  <div id="about-container">
  <p id="about">
    I'm a full stack web developer living in Chicago.   I began my professional life as a full-time guitarist and teacher. What carries over from my time as a musician to my work in SEO, and now into my career as a web developer, is my never-ending desire to teach myself new things, to tinker, and to create something from nothing.
  </p>
</div>
</div>
<div class="divider">

</div>

<a name="work"></a>

<div id="work-div">



<div class="row" style="width: 70%">
  <img class="materialboxed work-screenshot"  class="work-screenshot" class="z-depth-4" src="/images/mybeertracker-big.png"  />

  <div id="work-link">
    <a class="launch-link" target="_blank" href="http://www.mybeertracker.com">Launch Site</a>
    <!-- <a target="_blank"  href="http://www.mybeertracker.com">Launch Site</a> -->
  </div>
</div>


<div class="divider" id="work-divider">

</div>



<div id="specialist-row" class="row" style="width: 70%">
  <img class="materialboxed work-screenshot" src="/images/specialist-resize.png" class="z-depth-3" alt="" />

  <div id="work-link">
    <a class="launch-link" target="_blank" href="https://secret-journey-4811.herokuapp.com/">Launch Site</a>
  </div>
</div>

<div class="divider" id="work-divider">

</div>


<div id="chordgame-row" class="row" style="width: 70%">
  <img class="materialboxed work-screenshot" class="work-screenshot"src="/images/chordgame-resize.png"/>

  <div id="work-link">
    <a class="launch-link" target="_blank" href="http://www.chordgame.com">Launch Site</a>
  </div>
</div>

<div class="divider" id="work-divider">

</div>

</div>
<div class="row">

</div>
<div class="row">

</div>

<div class="row">


<a name="contact"></a>
<div id="contact-div">

<p id="contact-heading">Contact</p>
<ul id="contact-list">
  <li class="contact-item"><i class="material-icons" >perm_identity</i>Roger Panella</li>
  <li class="contact-item"><i class="material-icons" >email</i><a id="email-link" href="mailto:rogerpanella@gmail.com" target="_top"Roger Panella>rogerpanella@gmail.com</a></li>
  <li class="contact-item"><i class="material-icons" class="contact-item">phonelink_ring</i>617-549-0463</li>
  <li class="contact-item"><i class="material-icons" class="contact-item">location_on</i>Chicago, IL</li>
</ul>
</div>

<div id="social-div">

<p id="social-heading">Social</p>
<ul>
  <li class="social-item"><i class="fa fa-github"></i><a class="social-link" target="_blank" href="http://www.github.com/roger-panella">github.com/roger-panella</a></li>
  <li class="social-item"><i class="fa fa-linkedin"></i><a class="social-link" target="_blank" id="linkedin-link" href="https://www.linkedin.com/in/rogerpanella">linkedin.com/rogerpanella</a></li>
  <li class="social-item"><i class="fa fa-bullseye"></i><a class="social-link" target="_blank" id="linkedin-link" href="https://profiles.generalassemb.ly/roger-panella">generalassemb.ly/roger-panella</a></li>
</ul>
</div>

</div>














  <!-- <div class="card large">
   <div class="card-image waves-effect waves-block waves-light">
     <img class="activator" src="/images/mybeertracker.png">
   </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4">My Beer Tracker<i class="material-icons right">more_vert</i></span>
       <div class="chip" id="node-chip">
        <img src="/images/nodejs-logo.png">
          Node.js
      </div>
      <div class="chip" id="node-chip">
       <img src="/images/mongodb-logo.png">
          Mongodb
     </div>
     <div class="chip" id="node-chip">
      <img src="/images/express.png">
        Express
    </div>
    <div class="chip" id="node-chip">
     <img src="/images/angular-js.png">
       Angular
   </div>


     <p><a target="_blank" href="http://www.mybeertracker.com">Open site</a></p>

   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4">My Beer Tracker<i class="material-icons right">close</i></span>
     <p>This site was built as my final project for General Assembly's Web Development Immersive program</p>
   </div>
 </div> -->
