<div class="section" id="header">

<!-- <div id="picture-name" class="center-block"> -->
  <div class="row">

  </div>

  <div class="row" id="pic-row">
    <img src="/images/gaPiccrop.png" id="profile-pic" alt="" />
  </div>

  <div class="row">
    <h2>Roger Panella</h2>
  </div>
<!-- </div> -->

</div>
