<div class="section" id="header">

  <div class="row">
    <img src="/images/gaPiccrop.png" class="center-block" id="profile-pic" alt="" />
  </div>
  <div class="row">

    Roger Panella
  </div>
</div>
