body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: black
  overflow-x: hidden
  margin-top: 0

html
  overflow-x: hidden


a
  color: #00B7FF

#header
   background-color: white
   margin: 0 -9999rem
   margin-top: -50px
   padding: 0.25rem 9999rem
   padding-top: 0
   height: 500px
   color: black
   font-size:  60px
